@import "tailwindcss";

/* Paleta educativa */
@theme {
  --color-brand-light: #DDF4E7;
  --color-brand-green: #67C090;
  --color-brand-teal: #26667F;
  --color-brand-dark: #124170;

  --font-sans: "Arial", Helvetica, sans-serif;
}

/* Fuente global */
body {
  font-family: var(--font-sans);
}
